.Card {
  color: var(--color-primary);
  border-bottom: 1px solid;
  padding: 13px 20px;
  margin-bottom: 20px;
}

.names {
  color: #fcfcfc;
}

.characterDetails {
  color: #fcfcfc;
}

.profilePicture {
  width: 200px;
}
